@charset "EUC-KR";

@import
	url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap')
	;

#header {
	border-bottom: 1px gray solid;
	margin: 0px;
	padding: 0px;
}

#header>p {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	margin-left: 10px;
	margin-bottom: 5px;
}

#center {
	position: absolute;
	padding: 10px;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 520px;
	transform: translate(-50%, -50%);
	text-align: center;
	border: 1px gray solid;
}

.fa-stack {
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
}

#loginBold {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
}

#resetText {
	padding-left: 40px;
	padding-right: 40px;
	text-align: justify;
	text-align-last: center;
}

.inputId {
	margin-top: 10px;
	width: 300px;
	height: 30px;
}

#inputBtn {
	margin-top: 20px;
	background-color: #50BCDF;
	border: hidden;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

#signUp>a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#center-footer {
	position: absolute;
	width: 100%;
	height: 50px;
	text-align: center;
	left: 0%;
	bottom: 0px;
	border: 1px solid gray;
}

#center-footer>a {
	margin: 0 auto;
	width: 100%;
	text-decoration: none;
}

/******      팝업창      **********/
#popup {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	z-index: 1;
}

#popup.hide {
	display: none;
}

#popup.has-filter {
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

#popup .content {
	text-align: justify;
	text-align-last: center;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
	
}

.contentText {
	color: gray;	
}


#popupClose {
	position: relative;
	bottom: 0;
	width: 100%;
	margin: 0px;
	background: white;
	cursor: pointer;
	border-top: 1px gray solid;
	color: #50BCDF;
}