@charset "EUC-KR";

@import
	url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap')
	;

#header {
	border-bottom: 1px gray solid;
	margin: 0px;
	padding: 0px;
}

#header>p {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	margin-left: 10px;
	margin-bottom: 5px;
}

#center {
	position: absolute;
	padding: 10px;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 520px;
	transform: translate(-50%, -50%);
	text-align: center;
	border: 1px gray solid;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.invalid-feedback {
	margin-top: 40px;
	width: 300px;
	background-color: #ffcccc;
	color: #cc3333;
	text-align: justify;
	padding: 10px;
	font-size: 15px;
}

#alert-danger {
	display: none;
}

.form-control {
	margin-top: 10px;
	width: 300px;
	height: 35px;
	font-size: 15px;
}

#passwordBtn {
	margin-top: 20px;
	background-color: #50BCDF;
	border: hidden;
	color: white;
	font-weight: bold;
	cursor: pointer;
}