<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.insta.post.dao.mapper.PostMapper">
	<select id="getPostList"
		resultType="com.team1.insta.post.dto.Post">
		select * from post where user_id = #{userId}
	</select>

	<select id="getImagesList"
		resultType="com.team1.insta.post.dto.Images">
		select * from images where pid = #{pId}
	</select>

	<select id="getPostJoinImages"
		resultType="com.team1.insta.post.dto.PostJoinImages">
		select * FROM post inner join images USING(pid)
		where pid = #{pId} AND <![CDATA[ ROWNUM <= 1 ]]>order
		by iid
	</select>

	<select id="getLikeManage"
		resultType="com.team1.insta.post.dto.LikeManage">
		SELECT * FROM like_manage where pid = #{pId}
	</select>

	<select id="getTagPersonByUserId"
		resultType="com.team1.insta.post.dto.TagPerson">
		SELECT * FROM tag_person where user_id = #{userId}
	</select>

	<select id="getFollower"
		resultType="com.team1.insta.post.dto.Follow">
		SELECT * FROM follow where to_user = #{userId}
	</select>

	<select id="getFollowing"
		resultType="com.team1.insta.post.dto.Follow">
		SELECT * FROM follow where from_user = #{userId}
	</select>

	<select id="getCommentList"
		resultType="com.team1.insta.post.dto.CommentManage">
		SELECT * FROM comment_manage where pid = #{pId} ORDER BY cid
	</select>

	<insert id="leaveComment">
		insert into comment_manage values (
		comment_manage_seq.nextval,
		#{pId},
		#{user_id},
		#{contents}
		)
	</insert>

	<insert id="addFollow">
		insert into follow values (
		follow_seq.nextval,
		#{from_user},
		#{to_user},
		sysdate,
		'Y'
		)
	</insert>

	<delete id="deleteFollow">
		DELETE FROM follow WHERE from_user= #{from_user} AND to_user = #{to_user}
	</delete>
	
	<select id="FollowDecide"
		resultType="com.team1.insta.post.dto.Follow">
		SELECT * FROM follow WHERE from_user= #{from_user} AND to_user = #{to_user}
	</select>
	
	<select id="likeDecide"
		resultType="com.team1.insta.post.dto.LikeManage">
		SELECT * FROM like_manage WHERE pid= #{pId} AND user_id= #{userId}
	</select>

	<insert id="addLike">
		insert into like_manage values (
		like_manage_seq.nextval,
		#{pId},
		#{userId},
		sysdate
		)
	</insert>

	<delete id="deleteLike">
		DELETE FROM like_manage WHERE pid= #{pId} AND user_id= #{userId}
	</delete>
	<select id="getNewPID"
		resultType="String">
		SELECT MAX(pid) + 1 FROM post where uid = (SELECT uid FROM user_info where uname = #{uname})
	</select>
	
	<update id="uppdatePost">
		UPDATE post set user_id = #{userId}, pcontents = #{pcontents} WHERE pid= #{pId}
	</update>
	
	<insert id="addTagPerson">
		insert into tag_person values (
		tag_person_seq.nextval,
		#{userId},
		#{pId}
		)
	</insert>
	
	<insert id="addTagText">
		insert into tag_text values (
		tag_text_seq.nextval,
		#{tcontents},
		#{pId}
		)
	</insert>
	
</mapper>