@charset "UTF-8";


/*
.uname_ok {
	display: none;
}
.uname_already {
	display: none;
	width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}


.mb-3{
	display:flex;
	flex-direction:row;
}
*/




.prepwd{
	display: blox;
	width: 40%;
}s